{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Patient Blood Management Consent Form</title>
    <link rel="stylesheet" href="{% static 'PBMConsent/style.css' %}">

</head>
<body>
    <h1>Patient Blood Management Consent</h1>
    <!-- Question section -->
    <div class="question-section">
    <p>
        I _____________________, based on
        <span class="patient-specific-entry">{{answer1}},</span>
        refuse all blood
        products. This includes red blood cells, white blood cells, plasma, and platelets.
    </p>
    <p>
        Regarding treatments involving the use of blood fractions,
        <span class="patient-specific-entry">{{answer2}}</span>
    </p>
    <p> Regarding procedures involving my own blood,
        <span class="patient-specific-entry">{{answer3}}</span>
    </p>
    <p>
        I fully understand that there may be adverse health outcomes related to my decisions regarding blood. My
        provider has explained the risks to me and answered all of my questions. I accept these risks and release the
        hospital from any liability from related to my personal choices regarding blood.
    </p>
    <p>
        If my situation is deemed a true medical emergency requiring blood
        <span class="patient-specific-entry">{{answer4}}</span>
    </p>
    </div>
    <!-- signatures section -->
    <div class="signature-section">
    <p>________________________________________ <br />Patient or Agent Signature</p>
    <p>________________________________________ <br />Patient or Agent Name Print</p>
    <p>________________________________________ <br />Signer Relation to Patient</p>
    <p style="white-space:pre"><u>             {{date}}                                               </u> <br />Date and Time</p>
    <p>________________________________________ <br />Witness Signature</p>
    <p>________________________________________ <br />Witness Name Print</p>
    <p>________________________________________ <br />LIP Signature</p>
    <p>________________________________________ <br />LIP Name Print</p>
    </div>

</body>
</html>