<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Patient Blood Management Consent Questions</title>
</head>
<body>
    <h1>Questions</h1>
    {% for question in questions %}
        <h2>{{question.question_text}}</h2>
        {% for choice in question.choice_set.all %}
            <p>{{choice.choice_text}}</p>
        {% endfor %}
    {% endfor %}

</body>
</html>