{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Patient Blood Management Consent Questions</title>
    <link rel="stylesheet" href="{% static 'PBMConsent/style.css' %}">
</head>
<body>
<div class="main-body">
    <h1>Patient Blood Management Consent Questionnaire</h1>
    <form method="post" action="{% url 'pbm:pbmconsent' %}">
    {% csrf_token %}
        <fieldset>
            <legend>Please answer the following questions to state your wishes regarding blood products</legend>
            {% for question in questions %}
                <h2>{{forloop.counter}}. {{question.question_text}}</h2>
                {% for choice in question.choice_set.all %}
                    <input class="radio" type="radio" value="{{choice.display_text}}" name="{{question}}"
                           id="{{choice}}" required/>
                    <label class="choice-text" for="{{choice}}">{{choice.choice_text}}</label><br />
                    <p class="choice-description">{{choice.description_text}}</p>
                {% endfor %}
            {% endfor %}
            <br />
            <input type="submit">
        </fieldset>
    </form>
</div>
</body>
</html>